body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #eeeeef;
  padding: 0;
  margin: 32px auto;
  max-width: 512px;
}

h1 {
  position: relative;
  left: -32px;
  font-size: 32px;
  letter-spacing: 1px;
  color: #444455;
  margin: 0 0 32px;
  padding: 0 0 0 32px;
  background-image: url(favicon.ico);
  background-repeat: no-repeat;
  background-position: center left;
}

p {
  margin: 8px 0;
  padding: 0;
  color: #66666f;
}

tt {
  background-color: #f8f8ff;
  padding: 0 4px;
  border-radius: 4px;
}

.results {
  text-align: right
}

fieldset {
  margin: 8px 0;
  padding: 0;
  border: none;
}

input[type="text"] {
  float: left;
  font-family: monospace;
  font-size: 24px;
  margin: 0 8px 0 0;
  padding: 8px;
  border: none;
  border-radius: 8px;
  width: 286px;
  height: 32px;
}

select {
  float: left;
  margin: 8px 8px 8px 0;
  padding: 4px;
  font-size: 14px;
  width: 128px;
  height: 32px;
}

button {
  float: left;
  margin: 8px 0;
  padding: 4px;
  font-size: 14px;
  width: 64px;
  height: 32px;
}

ul {
  margin: 0;
  padding: 0 8px 8px;
  list-style: none;
  max-height: 384px;
  background-color: #fff;
  border-radius: 8px;
  overflow-y: auto;
}

li {
  font-family: monospace;
  font-size: 24px;
  margin: 8px 0 0;
  padding: 0;
}

.footer {
  font-size: 70%;
  color: #889;
  text-align: center;
  margin: 32px 0 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  color: #000;
}
